.logo-container {
    text-align: center;
}

.logo {
    padding-top: 20px;
    animation: fadein 1.2s;
    width: 270px;
}

body {
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    width: 80%;
}

.row {
    margin-top: 8px;
}

.panel-primary {
    border-color: #333;
}

.panel-primary > .panel-heading {
    background-color: #333;
    border-color: #333;
    color: #e0e0e0;
}

.savings-form {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

input[type="text"] {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

select {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

label {
    color: #e0e0e0;
}

h1, h3 {
    color: #e0e0e0;
}

.panel-body {
    background-color: #1e1e1e;
}

#savings-chart {
    background-color: #1e1e1e;
}

#savings-results {
    margin-top: 7px;
}

.footer {
    padding: 5px;
    font-size: 11px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }

    .row {
        margin-top: 12px;
        font-size: 28px;
    }

    .nav-tabs {
        font-size: 20px;
    }

    .logo {
        width: 35%;
    }

    #savings-chart {
        margin-bottom: 28px;
    }
}